<h1>THIS IS YOUR ADDRESS</h1>

        
	Your line1: <%= @address.line1 %><br />
	Your line2: <%= @address.line2 %><br />
	Your city: <%= @address.city %><br />
	Your state: <%= @address.state %><br />
	Your zip: <%= @address.zip %><br />

