<div class="container">
	<div id="HOLDnav" class="container navbar navbar-fixed-top">
		<div id="user_nav" class="pull-left">
		    <% if user_signed_in? %>
		        Signed in as <%= current_user.email %>. Not you?
		        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
		    <% else %>
		        <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
		    <% end %>
			</div>
			<div id="user_nav" class="pull-right">
		    <% if user_signed_in? %>
		        <%= link_to 'Account Profile', edit_user_registration_path %>
		    <% else %>
		    <% end %>
		</div>
	</div>	
	    <header class="row">
	    	<div class="span2 offset2 header-link right">        
	            <%= link_to "How it works", "/#how-it-works", class: "howitworks" %>
	        </div>
	        <div class="span4 center">    
	        	<hgroup class="logo">
	        		<h1><%= link_to "Home", root_path %></h1>
	       		</hgroup>
	        </div>  	
	        <div class="span2 header-link left">
	        	<%= link_to "Sign Up Free", new_user_registration_path %>
	        </div>	
	    </header>
        <%= render 'layouts/messages' %>
       <!-- <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p> -->

	</div>

